<div class="container d-flex justify-content-center align-items-center">
    <img class="w-25 h-25"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRF-ExnKXwTybHkZFPV8PAniae32NIh-AgiA&usqp=CAU"
        alt="">

</div>
<div class="container">
    <div class="w-100 d-flex justify-content-center">
        <h2 class="mt-3">Admin statics</h2>
    </div>
    {{#each adminAvatar}}    
    <p>Admin name : <span>{{this.firstname}}</span></p>    
    {{/each}}
    
    
</div>