<div class="container d-flex align-items-center justify-content-center">
    <div class="col-md-8 order-md-1">
        <h2 class="mb-3">Orders page</h2>
        {{#if orderError}}
        <div class="alert alert-primary" role="alert">{{orderError}}</div>
        {{/if}}
        <form method="post" action="/orders-data">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" name="firstname" placeholder="" value=""
                        >
                    
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" name="lastname" placeholder="" value=""
                    >
                    
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>

            <div class="row d-flex justify-content-between">
                <div class="col-md-5 mb-3">
                    <label for="country">Country</label>
                    <select class="custom-select d-block w-100" id="country" name="country" >
                        <option value="">Choose...</option>
                        <option>Uzbekistan</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <div class="col-md-4 mb-3 ">
                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" name="state" required="">
                        <option value="0">Choose...</option>
                        <option value="tashkent">Tashkent</option>
                        <option value="syrdarya">Syrdarya</option>
                        <option value="jizzakh">Jizzakh</option>
                        <option value="samarkand">Samarkand</option>
                        <option value="kashkadarya">Kashkadarya</option>
                        <option value="surkhondarya">Surkhondarya</option>
                        <option value="khorazm">Khorazm</option>
                        <option value="nukus">Nukus</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="form-outline">
                    <label class="form-label" for="form12">Phone number</label>
                    <input type="text" id="phonenumber" name="phonenumber" class="form-control" />
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Order</button>
        </form>
    </div>
</div>